  {% extends 'shared/base.html' %}

{% block content %}
    <h1>Add Computer</h1>


    <form action="{% url 'hrapp:computers' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="manufacturer">Manufacturer: </label>
          <input id="manufacturer" type="text" name="manufacturer">
      </fieldset>
      <fieldset>
          <label for="author">Address: </label>
          <input id="address" type="text" name="address">
      </fieldset>

      <input type="submit" value="Add It" />
    </form>
{% endblock %}