{% extends 'shared/base.html' %}
{% load humanize %}

{% block content %}

    <h1>Bangazon Departments</h1>

    <a href="{% url 'hrapp:department_form' %}"><button>Add Department</button></a>

    <ul>
    {% for department in all_departments %}
        <dl>
            <dt>Department:</dt> 
            <dd><a href="{% url 'hrapp:department' department.id %}"> {{ department.name }} </a></dd>
            <dt>Budget:</dt> 
            <dd>${{ department.budget|floatformat:2|intcomma }}</dd>
            <dt>Number of Employees:</dt>
            <dd>{{ department.employees|length }}</dd>
        </dl>
    {% endfor %}
    </ul>

{% endblock %}